@use 'variables' as var;
@use 'sass:color';

// Mixins

// Box-sizing
@mixin box-sizing($box-model){
    box-sizing: $box-model;
}

// Imagen de fondo
@mixin bg-header($color1, $color2, $image){
    background-image: linear-gradient(to right, $color1 0%, $color2 100%), url('../../img/'+$image);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
