//Variables
//Fuentes
@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Regular.ttf');
}

$fsize-1: 2.25rem;
$fsize-2: 1.3rem;
$fsize-3: 1.25rem;
$fsize-4: 1.125rem;
$fsize-5: 1rem;
$fsize-6: 0.875rem;


$main_font: 'Lato', sans-serif;

//Colores
$light_green: #DAF7DC;
$dark_green: #ABC8C0;
$grey: #323031;
$white: #ffffff;