@use '../base/variables' as *;
@use '../custom' as *;
@use 'sass:color';


.footer{
    background-color: $light_green;
    &__link{
        font-size: $fsize-2;
    }

    &__image {
        width: 2.5rem;
        height: auto;
        fill: $grey;
        transition: fill 0.3s ease, transform 0.3s ease;
        
        &:hover {
            fill: color.scale($grey, $lightness: 20%);
            transform: scale(1.2); 
        }
    }

    .phone{
        width: 2rem;
        height: auto;
    }
}